{% extends 'base.html' %}
{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
    <main id="movermain">
    <form action="" method="POST" class="viewform">
        {% csrf_token %}
         <h5> Datos de Incidencia: </h5>
        {% form form=incidencia_form %}
            {% part form.fecha prefix %} <i class="material-icons prefix">date_range</i>{% endpart %}
            {% part form.causa prefix %}<i class="material-icons prefix">book</i>{% endpart %}
           {% part form.consecuencia prefix %}<i class="material-icons prefix">book</i>{% endpart %}
        {% endform %}

        {%form form=vehiculo_form %}
           {% part form.estado prefix %}<i class="material-icons prefix">check</i>{% endpart %}
        {% endform %}

        <button class="btn btn-primary"  type="submit" name="action" >Registrar
					<i class="material-icons right">send</i>
         </button>

         <a class="btn btn-danger" href="/visitas_finalizadas/" type="submit">Cancelar
                <i class="material-icons right">warning</i></a>

    <script type="text/javascript">
            (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
    </script>

</main>
{% endblock %}