{% load static %}

{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>MINSAl</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/multi-select.css' %}">

    <script defer type="text/javascript" src="{% static 'list/frontend.js' %}"></script>
    <script src="{% static 'list/jquery-2.1.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'materialize.min.css' %}"  />
    <link type="text/css" rel="stylesheet" href="{% static 'materialize.css' %}"  />
    <link rel="stylesheet" href="{% static 'css/bootstrap-table.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.js' %}"></script>

    <!-- Select2 -->
    <link rel="stylesheet" href={% static 'select2/select2.css'%}>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src={% static 'select2/select2.js' %}></script>



  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

    <!-- Bootstrap DatePicker -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.min.css' %}">
    <script  src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script  src="{% static 'js/bootstrap-datepicker.es.min.js' %}"></script>

    <!-- Bootstrap DateTable -->
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <!-- Js Personales -->
    <script src="{% static 'js/tabla.js' %}"></script>
    <script src="{% static 'js/expediente.js' %}"></script>
    <script  src={% static 'js/jquery.quicksearch.js' %}></script>

</head>



<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
          <li><a href="/base">Inicio</a></li>
        <li class="dropdown"><a href="/solicitud_visita">Solicitud Visita</a></li>
        {%if perms.Proyecto_web.change_visita %}
          <li class="dropdown">
            <a  href="/lista_solicitudes">Solicitudes a Asignar </a>
        </li>

        <li><a href="/proximos_mantenimientos">Mantenimientos Proximos </a></li>
        <li><a href="/vehiculos">Vehiculos Unidad</a></li>
           <li><a href="/visitas_finalizadas"> Visitas Finalizadas</a></li>
          {% endif %}
       <li><a href="/mis_visitas"> Mis visitas</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a><span class="glyphicon glyphicon"></span> {{ user.get_username }}</a></li>
          <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>

      </ul>
    </div>
  </div>
</nav>
{% block content %}
<main id="movermain" >
        <div class="row">

            <div class="col s6" id="estilo">
                <div class="card" >
                    <div  class="card-image waves-effect waves-block waves-purple">

                        <img class="activator"  src="{% static 'imagenes/minsal.jpg' %}">

                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Quienes Somos?<i class="material-icons right">more_vert</i></span>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col s4 m6">
                    <div class="card" >
                        <div  class="card-image waves-effect waves-block waves-purple">

                            <img class="activator"  src="{% static 'imagenes/instituciones.jpg' %}">


                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Quienes la conforman<i class="material-icons right">more_vert</i></span>

                        </div>

                    </div>
                </div>

            </div>
        </div>




    </main>

{% endblock %}

</body>
</html>
