{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

<!DOCTYPE html>
<html lang="es">

<body id="colorLogin">
<div >
    <div class="container" id="tamanio">
        <div class="col s12 m7">
            <div class="card">

                <div class="card-content">

                    <form class="col s12" method="post" action="">
                        {% csrf_token %}
                        <div class="row">

                            <div class="input-field col s7">
                                <i class="material-icons prefix">account_circle</i>
                                <input  id="username" name= "username" type="text" class="validate">
                                <label for="Username">Usuario:</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s7 form-group">
                                <i class="material-icons prefix">lock_outline</i>
                                <input id="password" name ="password" type="password" class="validate ">
                                <label for="password">Contraseña:</label>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-purple" type="submit" name="action">Iniciar Sesion
                                <i class="material-icons right">forward</i>
                            </button>
                        </div>

                    </form>
                    <script type="text/javascript">
                        (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                    </script>

                </div>



            </div>

        </div>

    </div>
</div>
</div>
</div>

</body>

</html>